<p id="notice"><%= notice %></p>

<p>
  <strong>Kvk number:</strong>
  <%= @proxy.kvk_number %>
</p>

<p>
  <strong>Branch number:</strong>
  <%= @proxy.branch_number %>
</p>

<p>
  <strong>Rsin:</strong>
  <%= @proxy.rsin %>
</p>

<p>
  <strong>Street:</strong>
  <%= @proxy.street %>
</p>

<p>
  <strong>House number:</strong>
  <%= @proxy.house_number %>
</p>

<p>
  <strong>Trade name:</strong>
  <%= @proxy.trade_name %>
</p>

<p>
  <strong>Include former trade name:</strong>
  <%= @proxy.include_former_trade_name %>
</p>

<p>
  <strong>Include inactive registrations:</strong>
  <%= @proxy.include_inactive_registrations %>
</p>

<p>
  <strong>Main branch:</strong>
  <%= @proxy.main_branch %>
</p>

<p>
  <strong>Branch:</strong>
  <%= @proxy.branch %>
</p>

<p>
  <strong>Legal person:</strong>
  <%= @proxy.legal_person %>
</p>

<p>
  <strong>Start page:</strong>
  <%= @proxy.start_page %>
</p>

<p>
  <strong>Site:</strong>
  <%= @proxy.site %>
</p>

<p>
  <strong>Context:</strong>
  <%= @proxy.context %>
</p>

<p>
  <strong>Q:</strong>
  <%= @proxy.q %>
</p>

<%= link_to 'Edit', edit_proxy_path(@proxy) %> |
<%= link_to 'Back', proxies_path %>
